* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Lucida Handwriting;
    background-color: #6985b9;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

.scroll-container {
    display: flex; 
    flex-direction: row; 
    overflow-x: hidden; 
    scroll-snap-type: x mandatory; 
    width: 100vw;
    height: 100vh;
}

.panel {
    min-width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start; 
}

.footer {
    background-image: url(images/sidewa.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
    text-align: center;
}

.footer-content { 
    padding: 20px;
    border-radius: 10px;
}

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%; 
    opacity: 0.8;
    animation-name: fall, sway;
    animation-duration: 10s, 4s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

.gifts {
    width: 380px;
    height: 380px;
}

.door {
    height: 10%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

div.scroll-container {

    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container images {
    padding: 10px;
}

